In [5]:
import pandas as pd
df = pd.read_csv('music.csv')

In [14]:
df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [10]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [6]:
X = df.drop(columns = ['genre'], axis = 1)
y = df['genre']

In [7]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
 
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2) 
# model = DecisionTreeClassifier()
# model.fit(X_train, y_train)
# predictions = model.predict(X_test)
# predictions

array(['Classical', 'Jazz', 'Dance', 'Acoustic'], dtype=object)

In [8]:
# Measure the accuracy of the model
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, predictions)
score

0.5

In [9]:
#Persisting models
import joblib
joblib.dump(model,'music-recommender.joblib')

['music-recommender.joblib']

In [11]:
#Load the model back in the notebook
model = joblib.load('music-recommender.joblib')
predictions = model.predict([[21,1]])
predictions

array(['HipHop'], dtype=object)

In [12]:
#Visualizing a Decision tree
from sklearn import tree 

tree.export_graphviz(model,out_file = 'music-recommender.dot', feature_names =['age','gender'], class_names = sorted(y.unique()),label='all', rounded =True, filled = True)